<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="#{request.contextPath}/stylesheet/esme-design.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>

	<div id="contentArea">
		<!-- Header -->
		<p:layoutUnit position="north" size="85" visible="true">
			<ui:include src="/pages/header.xhtml" />
			Ez csak egy index page...
		</p:layoutUnit>
	</div>

</h:body>
</html>