body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Verdana;
	font-size: 12px;
	color: black;
	position: absolute;
	height: 100%;
	background-color: #f2f2f2;
	font-family: Verdana;
}

.questionTable {
	min-height: 200px !important;
	max-height: 400px !important;
	margin: 15px;
}